@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height: 70px; 
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-size: 27px;
    --swiper-navigation-color: black;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 25px;
    --swiper-navigation-sides-offset: 25px;
}

.heart{
    height: 35px;
    width: 54px;
}
.user{
    height: 20px;
    width: 20px;
}

.no-scroll {
    overflow: hidden;
}
  
@media (max-width: 1024px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
    .heart{
        height: 22px;
        width: 22px;
    }
    .user{
        height: 20px;
        width: 20px;
    }
}
  








